name: main
on:
  pull_request:
concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  # cancel-in-progress: true
jobs:
  build:
    name: build
    permissions:
      contents: write
    runs-on: ubuntu-latest
    container:
      image: docker.io/ocaml/opam:debian-ocaml-4.08
      options: --user root
    steps:
      - name: setup env
        run: |
          sudo apt-get install -yqqq bison wget flex git cmake
      - name: build elkhound
        run: |
          git clone https://github.com/${{ github.repository }} -b ${{ github.head_ref || github.ref_name }} /home/opam/elkhound
          cd /home/opam/elkhound
          mkdir -p ${ELKHOUND_BUILD_DIR}
          export PATH=/home/opam/.opam/4.08/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
          cmake -Wno-dev -S ${ELKHOUND_SRC_DIR} -B ${ELKHOUND_BUILD_DIR} -D CMAKE_BUILD_TYPE=Release
          make -C ${ELKHOUND_BUILD_DIR}
        env:
          ELKHOUND_BUILD_DIR: "build"
          ELKHOUND_SRC_DIR: "src"
      - uses: actions/upload-artifact@v4
        with:
          name: linux-elkhound
          path: /home/opam/elkhound/build/elkhound/elkhound
  windows-build:
    name: windows build
    runs-on: windows-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4
      - name: Set up Cygwin
        uses: egor-tensin/setup-cygwin@v4
        with:
          packages: binutils mingw64-x86_64-gcc-core mingw64-x86_64-gcc-g++ make cmake bison flex
      - name: build elkhound
        shell: bash
        run: |
          mkdir build
          cmake -Wno-dev -G "Unix Makefiles" -S ../src/ -B build -DEXTRAS=OFF -DOCAML=OFF -DCMAKE_BUILD_TYPE=Release
          ls build
          make -C build
          mv D:\a\elkhound\elkhound\build\elkhound\elkhound.exe .
        env:
          CMAKE_LEGACY_CYGWIN_WIN32: 0
          CXX: /usr/bin/x86_64-w64-mingw32-g++.exe
          CC: /usr/bin/x86_64-w64-mingw32-gcc.exe
      - uses: actions/upload-artifact@v4
        with:
          name: win-elkhound
          path: elkhound.exe
      - uses: actions/upload-artifact@v4
        with:
          name: windows-elkhound
          path: elkhound.exe