name: main
on:
  pull_request:
concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true
jobs:
  build-nix:
    strategy:
      matrix:
        include:
          - os: macos-latest
            target: '.#packages.aarch64-darwin'
            suffix: ''
          - os: ubuntu-latest
            target: '.#packages.x86_64-linux'
            suffix: ''
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@main
      - uses: cachix/install-nix-action@master
        with:
          nix_path: nixpkgs=channel:nixos-25.05
      - run: |
          nix build ${{ matrix.target }}
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}
          path: result/bin/elkhound
