name: main
on:
  pull_request:
concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  # cancel-in-progress: true
jobs:
  build:
    name: build
    permissions:
      contents: write
    runs-on: ubuntu-latest
    container:
      image: docker.io/ocaml/opam:debian-ocaml-4.08
      options: --user root
    steps:
      - name: setup env
        run: |
          sudo apt-get install -yqqq bison wget flex git cmake
      - name: build elkhound
        run: |
          git clone https://github.com/${{ github.repository }} -b ${{ github.head_ref || github.ref_name }} /home/opam/elkhound
          cd /home/opam/elkhound
          mkdir -p ${ELKHOUND_BUILD_DIR}
          export PATH=/home/opam/.opam/4.08/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
          cmake -Wno-dev -S ${ELKHOUND_SRC_DIR} -B ${ELKHOUND_BUILD_DIR} -D CMAKE_BUILD_TYPE=Release
          make -C ${ELKHOUND_BUILD_DIR}
        env:
          ELKHOUND_BUILD_DIR: "build"
          ELKHOUND_SRC_DIR: "src"
      - uses: actions/upload-artifact@v4
        with:
          name: linux-elkhound
          path: /home/opam/elkhound/build/elkhound/elkhound
  windows-build:
    name: windows build
    runs-on: windows-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4
      - name: Set up cache
        uses: actions/cache@v4
        with:
          path: ~/.buildcache
          key: ${{ runner.os }}-win-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-win-
      - name: install MSVC 2017
        shell: pwsh
        run: |
          $vs_url = "https://aka.ms/vs/15/release/vs_BuildTools.exe"
          Invoke-WebRequest -Uri $vs_url -OutFile "vs_buildtools.exe"
          if (-not (Test-Path "vs_buildtools.exe")) {
              Write-Error "Failed to download VS Build Tools"
              exit 1
          }
          $components = @(
            "Microsoft.VisualStudio.Workload.VCTools",
            "Microsoft.VisualStudio.Component.Windows10SDK.19041",
            "Microsoft.VisualStudio.Component.VC.v141.x86.x64",
            "Microsoft.VisualStudio.Component.VC.CMake.Project"
          )
          $componentArgs = ($components | ForEach-Object { "--add $_" }) -join " "
          $installCmd = ".\vs_buildtools.exe --quiet --norestart --force --wait --installPath C:\BuildTools $componentArgs"
          Start-Process -FilePath ".\vs_buildtools.exe" -ArgumentList $installCmd.Split() -Wait -PassThru
      - name: install deps
        run: |
          choco install --stoponfirstfailure -y winflexbison3
      - name: Check components
        shell: cmd
        run: |
          call "C:\BuildTools\VC\Auxiliary\Build\vcvarsall.bat" x64
          cmake -version
          msbuild -version
          mkdir build
          cmake -Wno-dev -B build -G Ninja -S src -DFLEX_INCLUDE_DIR=C:\ProgramData\chocolatey\lib\winflexbison3\tools -DCMAKE_BUILD_TYPE=Release
          cd build
          ninja
        env:
          CMAKE_LEGACY_CYGWIN_WIN32: 0
      - uses: actions/upload-artifact@v4
        with:
          name: windows-elkhound
          path: elkhound.exe