name: main
on:
  pull_request:
concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true
jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - name: build elkhound
        run: |
          sudo apt-get update -yqqq
          sudo apt-get install -yqqq bison cmake flex wget libfl-dev
          mkdir -p obj
          cmake -Wno-dev -S src -B obj -DEXTRAS=OFF -DOCAML=OFF -DCMAKE_BUILD_TYPE=Release
          make -j$(npoc) -C obj
      - uses: actions/upload-artifact@v4
        with:
          name: ubuntu-latest
          path: obj/elkhound/elkhound
          if-no-files-found: error
  build-macos:
    strategy:
      matrix:
        include:
          - os: macos-latest
            target: '.#packages.aarch64-darwin'
            suffix: ''
          - os: macos-15-intel
            target: '.#packages.x86_64-darwin'
            suffix: ''
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@main
      - uses: cachix/install-nix-action@master
        with:
          nix_path: nixpkgs=channel:nixos-25.05
      - run: |
          nix build ${{ matrix.target }}
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}
          path: result/bin/elkhound
          if-no-files-found: error
  windows-build:
    runs-on: windows-2022
    steps:
      - name: Checkout the code
        uses: actions/checkout@main
      - name: Set up cache
        uses: actions/cache@v4
        with:
          path: ~/.buildcache
          key: win-${{ github.sha }}
          restore-keys: |
           win
      - name: install MSVC 2017
        shell: pwsh
        run: |
          $vs_url = "https://aka.ms/vs/15/release/vs_BuildTools.exe"
          Invoke-WebRequest -Uri $vs_url -OutFile "vs_buildtools.exe"
          if (-not (Test-Path "vs_buildtools.exe")) {
              Write-Error "Failed to download VS Build Tools"
              exit 1
          }
          $components = @(
            "Microsoft.VisualStudio.Workload.VCTools",
            "Microsoft.VisualStudio.Component.Windows10SDK.19041",
            "Microsoft.VisualStudio.Component.VC.v143.x86.x64",
            "Microsoft.VisualStudio.Component.VC.CMake.Project"
          )
          $componentArgs = ($components | ForEach-Object { "--add $_" }) -join " "
          $installCmd = ".\vs_buildtools.exe --quiet --norestart --force --wait --installPath C:\BuildTools $componentArgs"
          Start-Process -FilePath ".\vs_buildtools.exe" -ArgumentList $installCmd.Split() -Wait -PassThru
      - name: Build elkhound
        shell: cmd
        run: |
          call "C:\BuildTools\VC\Auxiliary\Build\vcvarsall.bat" x64
          cmake -version
          msbuild -version
          mkdir build
          cmake -Wno-dev -G Ninja -S src -B build -DEXTRAS=OFF -DOCAML=OFF -DCMAKE_BUILD_TYPE=Release
          cd build
          ninja
      - uses: actions/upload-artifact@v4
        with:
          name: windows-elkhound
          path: build/elkhound/elkhound.exe
  build-oci-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          platforms: |
            linux/arm64
            linux/amd64
          build-args: |
            GITHUB_REF
            GITHUB_SHA
          cache-from: type=gha
          cache-to: type=gha
