name: tag
on:
  push:
    tags:
      - "*"
jobs:
  build-nix:
    strategy:
      matrix:
        include:
          - os: macos-latest
            target: '.#packages.aarch64-darwin'
            suffix: ''
          - os: ubuntu-latest
            target: '.#packages.x86_64-linux'
            suffix: ''
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@main
      - uses: cachix/install-nix-action@master
        with:
          nix_path: nixpkgs=channel:nixos-25.05
      - run: |
          nix build ${{ matrix.target }}
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}
          path: result/bin/elkhound
  windows-build:
    name: windows build
    runs-on: windows-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4
      - name: Set up Cygwin
        uses: egor-tensin/setup-cygwin@v4
        with:
          packages: binutils make cmake mingw-gcc-core gcc gcc-g++ bison flex
      - name: build elkhound
        cmd: bash
        run: |
          mkdir build
          cmake -Wno-dev -S src -B build -DEXTRAS=OFF -DOCAML=OFF -DCMAKE_BUILD_TYPE=Release
          make -C build
      - uses: actions/upload-artifact@main
        with:
          name: win-elkhound
          path: D:\a\elkhound\elkhound\build\elkhound\elkhound.exe
  release:
    name: release
    permissions:
      contents: write
    needs: [build-nix, windows-build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - uses: actions/download-artifact@main
        with:
          name: macos-latest
          path: mac-elkhound
      - uses: actions/download-artifact@main
        with:
          name: ubuntu-latest
          path: lin-elkhound
      - uses: actions/download-artifact@main
        with:
          name: win-elkhound
          path: win-elkhound
      - run: |
          mac-elkhound/elkhound mac-elkhound
          mv lin-elkhound/elkhound lin-elkhound
      - name: Create Release
        id: create_release
        uses: ncipollo/release-action@main
        with:
          generateReleaseNotes: true
          artifacts: "lin-elkhound,mac-elkhound,win-elkhound/elkhound.exe"
